<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eletrofisio.com.teste11">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EletroFisio"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="EletroFisio"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TENS.TensActivity" />
        <activity android:name=".activity.TENS.TensConvActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.CadastroActivity" />
        <activity android:name=".activity.Fes.FesActivity" />
        <activity android:name=".activity.UltraSom.UltraSomActivity" />
        <activity android:name=".activity.Laser.LaserActivity" />
        <activity android:name=".activity.Russa.RussaActivity" />
        <activity android:name=".activity.OndasCurtas.OndasCurtasActivity" />
        <activity android:name=".activity.Interferencial.InterferencialActivity" />
        <activity android:name=".activity.TENS.BreveIntensaActivity" />
        <activity android:name=".activity.TENS.BurstActivity" />
        <activity android:name=".activity.TENS.AcupunturalActivity" />
        <activity android:name=".activity.TENS.IndicacoesTensActivity" />
        <activity android:name=".activity.TENS.ContraTensActivity" />
        <activity android:name=".activity.Fes.ParametrosFESActivity" />
        <activity android:name=".activity.Fes.IndicacoesFESActivity" />
        <activity android:name=".activity.Fes.ContraFESActivity" />
        <activity android:name=".activity.UltraSom.EfeitosUltrassomActivity" />
        <activity android:name=".activity.UltraSom.DosimetriaActivity" />
        <activity android:name=".activity.UltraSom.EfeitosTerapeuticosUSActivity" />
        <activity android:name=".activity.UltraSom.TecnicaAplicaUSActivity" />
        <activity android:name=".activity.UltraSom.ExemploEraActivity" />
        <activity android:name=".activity.Aussie.AussieActivity" />
        <activity android:name=".activity.Laser.TiposLaserActivity" />
        <activity android:name=".activity.Laser.DosimetriaLaserActivity" />
        <activity android:name=".activity.Laser.IndicacoesLaserActivity" />
        <activity android:name=".activity.Laser.ContraIndLaserActivity" />
        <activity android:name=".activity.Laser.CuidadosLaserActivity" />
        <activity android:name=".activity.OndasCurtas.IndicacoesOndasCurtasActivity" />
        <activity android:name=".activity.OndasCurtas.PrecaucoesOndasCurtasActivity" />
        <activity android:name=".activity.OndasCurtas.AplicacaoOndasCurtasActivity" />
        <activity android:name=".activity.OndasCurtas.ContraOndasCurtasActivity" />
        <activity android:name=".activity.OndasCurtas.TempoOndasCurtasActivity" />
        <activity android:name=".activity.OndasCurtas.EfeitosOndasCurtasActivity" />
        <activity android:name=".activity.Russa.IndicRussaActivity" />
        <activity android:name=".activity.Russa.ParamRussaActivity" />
        <activity android:name=".activity.Russa.ContraRussaActivity" />
        <activity android:name=".activity.Russa.TiposRussaActivity" />
        <activity android:name=".activity.Russa.ModosRussaActivity" />
        <activity android:name=".activity.Aussie.IndicAussieActivity" />
        <activity android:name=".activity.Aussie.ContraAussieActivity" />
        <activity android:name=".activity.Interferencial.IndicInterferencialActivity" />
        <activity android:name=".activity.Interferencial.ContraInterferencialActivity"></activity>
    </application>

</manifest>